In [1]:
# DOWNLOADING DATA

import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly import offline
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")

tomato_discount = pd.read_csv('Dataframes/tomato_discount.csv')
tomato_7 = pd.read_csv('Dataframes/tomato_7.csv')

tomato_7

C:\Users\Владислав\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Владислав\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Владислав\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

,date,av_price_46135,av_price_46902,av_price_59042,av_price_75320,av_price_201676,av_price_362058,av_price_415514,av_price_415824,av_price_419020,...,month_August,month_December,month_February,month_July,month_June,month_March,month_May,month_November,month_October,month_September
0,2009-01-01,65.000000,47.000000,56.000000,84.000000,42.000000,49.943062,36.707605,69.01367,59.973953,...,0,0,0,0,0,0,0,0,0,0
1,2009-01-02,65.000000,48.000000,60.000000,84.000000,42.000000,49.943062,36.707605,69.01367,59.973953,...,0,0,0,0,0,0,0,0,0,0
2,2009-01-03,66.000000,48.000000,61.000000,84.000000,42.000000,49.943062,36.707605,69.01367,59.973953,...,0,0,0,0,0,0,0,0,0,0
3,2009-01-04,65.000000,48.000000,61.000000,84.000000,42.000000,49.943062,36.707605,69.01367,59.973953,...,0,0,0,0,0,0,0,0,0,0
4,2009-01-05,66.000000,48.000000,61.000000,84.000000,42.000000,49.943062,36.707605,69.01367,59.973953,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,2014-12-27,46.427693,50.434773,59.985598,50.464884,37.007582,49.943062,23.550279,69.01367,52.483479,...,0,1,0,0,0,0,0,0,0,0
2187,2014-12-28,46.427693,50.434773,59.985598,50.464884,37.007582,49.943062,23.550279,69.01367,55.174940,...,0,1,0,0,0,0,0,0,0,0
2188,2014-12-29,46.427693,50.434773,59.985598,50.464884,37.007582,49.943062,23.550279,69.01367,55.174940,...,0,1,0,0,0,0,0,0,0,0
2189,2014-12-30,46.427693,50.434773,59.985598,50.464884,37.007582,49.943062,23.550279,69.01367,55.174940,...,0,1,0,0,0,0,0,0,0,0
2190,2014-12-31,46.427693,50.434773,59.985598,50.464884,37.007582,49.943062,23.550279,69.01367,55.174940,...,0,1,0,0,0,0,0,0,0,0

In [8]:
prices = [tomato_7[col] for col in tomato_7.columns if 'price' in col]
sales = [tomato_7[col] for col in tomato_7.columns if 'sales' in col]
IDs = [col.strip('is_discount_') for col in tomato_discount.columns if 'is_discount_' in col]

def revenue(quantity, price):
        return pd.Series(np.array(quantity) * np.array(price), name = 'revenue_' + quantity.name.replace('salesvolume_', ''))

def df_revenue(sales, prices):
    revenues = []

    global revenue

    for i in range(len(sales)):
        revenues.append(revenue(sales[i], prices[i]))

    return pd.DataFrame(revenues).T

rev = df_revenue(sales = sales, prices = prices)

In [68]:
ids_no_zero = ['46135', '75320', '201676', '415514', '415824','419020', '468496', '468558', '471503', '489135','600761']

date_test = pd.read_csv('Results/Vector models/date_test.csv')
GBDT_test_preds = pd.read_csv('Results/Vector models/Vector GBDT/GBDT_test_preds.csv')

tomato_test = tomato_7[tomato_7['date'].isin([i[0] for i in date_test.values])]

prices_test = [tomato_test[col] for col in tomato_test.columns if 'price' in col]
sales_test = [tomato_test[col] for col in tomato_test.columns if 'sales' in col]
sales_test_GBDT = [GBDT_test_preds[i].rename(str(IDs[int(i)])) for i in GBDT_test_preds.columns]

rev_test = df_revenue(sales = sales_test, prices = prices_test)[['revenue_' + i for i in ids_no_zero]]
rev_test_GBDT = df_revenue(sales = sales_test_GBDT, prices = prices_test)[['revenue_' + i for i in ids_no_zero]]

rev_test
rev_test_GBDT

,revenue_46135,revenue_75320,revenue_201676,revenue_415514,revenue_415824,revenue_419020,revenue_468496,revenue_468558,revenue_471503,revenue_489135,revenue_600761
0,136.194963,46.081499,126.923351,33.417774,45.643090,49.933766,72.307495,91.236414,50.892546,93.259091,72.944603
1,136.194963,37.989739,72.734994,29.853995,45.643090,49.933766,72.307495,72.116404,53.090959,140.938447,56.204485
2,136.194963,45.192177,84.650294,29.148970,46.373580,67.433083,44.034637,88.970536,54.811948,107.969121,54.000056
3,136.194963,39.010011,72.461822,40.656038,47.349865,67.433083,72.307495,81.595273,52.807638,107.120102,54.687935
4,136.194963,39.010011,69.867432,27.573380,45.643090,46.051427,44.034637,76.344324,54.994040,96.900203,47.466511
...,...,...,...,...,...,...,...,...,...,...,...
321,155.461451,86.388586,140.046384,185.892851,51.362091,68.938675,81.718973,59.759852,50.554153,571.391887,41.071639
322,155.461451,99.061017,109.900067,132.309197,51.362091,64.015311,59.470065,78.669903,47.680647,563.845500,46.504358
323,155.461451,86.388586,97.144270,141.181351,51.362091,67.298147,87.507955,66.639253,53.388535,738.953365,36.383583
324,155.461451,104.126452,99.242684,193.032077,54.549220,65.891833,45.317757,65.373720,54.715041,610.103691,37.236827
325,155.461451,80.306307,120.521949,207.470816,61.361517,66.290427,44.905777,72.135079,55.067357,780.835115,40.900543

In [64]:
print('actual 468496 test: ', rev_test['revenue_468496'].sum())
print('GBDT 468496 test: ', rev_test_GBDT['revenue_468496'].sum())
print('ratio: ',
      round(
          abs((rev_test['revenue_468496'].sum() - rev_test_GBDT['revenue_468496'].sum()) / rev_test['revenue_468496'].sum()) * 100
          , 2))

actual 468496 test:  25745.66040129647
GBDT 468496 test:  25407.352761428912
ratio:  1.31

In [69]:
print('actual SUM test: ', rev_test.sum().sum())
print('GBDT SUM test: ', rev_test_GBDT.sum().sum())
print('ratio: ', round(abs((rev_test.sum().sum() - rev_test_GBDT.sum().sum()) / rev_test.sum().sum()) * 100, 2))

actual SUM test:  348902.45996737643
GBDT SUM test:  376756.3006203349
ratio:  7.98

In [3]:
rev_sup_disc = []
rev_mean = []
rev_mean_ratio = []
for id in IDs:
    rev_sup_disc.append(pd.concat([tomato_discount['is_discount_' + id], rev[IDs.index(id)]], axis = 1)[tomato_7['is_supplied_' + id] == 1])
    rev_mean.append(rev_sup_disc[IDs.index(id)].groupby(rev_sup_disc[IDs.index(id)]['is_discount_' + id] > 0).mean())
    rev_mean_ratio.append(round(rev_mean[IDs.index(id)].iloc[1, 1] / rev_mean[IDs.index(id)].iloc[0, 1], 4))

print(f'MEAN: {np.mean(rev_mean_ratio)}',
      f'STD: {np.std(rev_mean_ratio)}',
      f'MAX: {np.max(rev_mean_ratio)}',
      f'MIN: {np.min(rev_mean_ratio)}')
rev_mean_ratio

MEAN: 4.898115 STD: 4.405461000993539 MAX: 21.4296 MIN: 0.5996

[1.3236,
 4.4934,
 1.2568,
 5.5094,
 2.3464,
 2.7715,
 5.1688,
 10.0021,
 6.1657,
 2.6642,
 8.0231,
 0.5996,
 3.1238,
 1.9081,
 4.6024,
 4.417,
 4.6962,
 21.4296,
 4.4802,
 2.9804]